@import url(./__header.css);
@import url(./__main.css);
@import url(./__sidebar.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;

  background-color: #f9f9f9;
}

.flex {
  display: flex;
  gap: 2.5rem;

  margin: 2.8rem 1.6rem 2.8rem 7.5rem;
}
